div.favorites {
   display: inline;
}
div.container {
   padding: 1.75rem;
   padding-right: 0;
   overflow: auto;
   position: relative;
}
body {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 100vh;
}
div.container div.item {
   background-color: rgba(255,255,255,0.65);
   cursor: pointer;
   width: calc((100% - 5.25rem) / 3);
   margin-right: 1.75rem;
   box-sizing: border-box;
   height: 12.5rem;
   margin-bottom: 1.75rem;
   float: left;
   display: block;
   transition: background-color 0.25s;
   padding: 1.5rem 2rem;
}
button.removeLink {
   margin: 0;
   margin-left: calc(((100% - 7rem) / 3) - 2rem);
   outline: none;
}
div.container div.item div.favicon {
   height: 7rem;
   width: 100%;
   background-size: 5rem;
   background-position: center;
   background-repeat: no-repeat;
   margin-bottom: 1rem;
}
@media only screen and (max-width: 650px) {
   div.container div.item {
      width: calc((100% - 3.5rem) / 2);
   }
   button.removeLink {
      margin-left: calc((100% - 4.25rem) / 2);
   }
}
@media only screen and (max-width: 500px) {
   div.container div.item, button.removeLink {
      width: calc((100% - 1.75rem));
   }
   button.removeLink {
      margin-left: calc(100% - 1.5rem);
   }
}
div.container div.item:hover {
   background-color: rgba(255,255,255,0.9);
}
div.container div.item p{
   margin: 0;
   height: 1.5rem;
   line-height: 1.5rem;
   font-size: 1.125rem;
   font-weight: bold;
   color: #555;
   text-transform: uppercase;
   letter-spacing: 0.025rem;
   text-align: center;
}
button.removeLink {
   height: 2rem;
   width: 2rem;
   padding: 0;
   background: transparent;
   border: none;
   position: absolute;
   display: block;
   text-align: right;
}
button.removeLink svg {
   height: 1rem;
   width: 1rem;
   display: inline-block;
   padding: 0.5rem;
}
