div.favorites {
   display: inline;
}
div.container {
   padding: 1.75rem;
   padding-right: 0;
}
body {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 100vh;
}
div.container div.item {
   background-color: rgba(255,255,255,0.75);
   cursor: pointer;
   width: calc((100% - 5.25rem) / 3);
   margin-right: 1.75rem;
   box-sizing: border-box;
   height: 12.5rem;
   margin-bottom: 1.75rem;
   float: left;
   display: block;
   transition: background-color 0.25s;
   padding: 2rem;
}
@media only screen and (max-width: 650px) {
   div.container div.item {
      width: calc((100% - 3.5rem) / 2);
   }
}
@media only screen and (max-width: 500px) {
   div.container div.item {
      width: calc((100% - 1.75rem));
   }
}
div.container div.item:hover {
   background-color: rgba(255,255,255,0.9);
}
div.container div.item p{
   margin: 0;
   line-height: 1.5rem;
   font-size: 1.125rem;
   font-weight: bold;
   color: #555;
   text-transform: uppercase;
   letter-spacing: 0.025rem;
}